body {
	background-color: #64b2db;
	margin: 0;
	font-family: "Arial", sans-serif;
	image-rendering: optimizeSpeed;             /* Legal fallback */
	image-rendering: -moz-crisp-edges;          /* Firefox        */
	image-rendering: -o-crisp-edges;            /* Opera          */
	image-rendering: -webkit-optimize-contrast; /* Safari         */
	image-rendering: optimize-contrast;         /* CSS3 Proposed  */
	image-rendering: crisp-edges;               /* CSS4 Proposed  */
	image-rendering: pixelated;                 /* CSS4 Proposed  */
	-ms-interpolation-mode: nearest-neighbor;
}
#superdiv {
	background: linear-gradient(#ffe623, #ff5700);
	margin: auto;
	width: 810px;
	padding: 0 20px;
}
#subdiv {
	background-color: #64b2db;
}
header {
	padding-top: 15px;
}
#banner {
	display: block;
	margin: 0 auto;
}
.bars {
	background-image: url(/img/bars.gif);
	height: 167px;
	width: 688px;
	display: block;
	margin: auto;
}
nav {
	background-image: url(/img/goldplate.png);
	width: 344px;
	height: 84px;
	margin: auto;
	text-align: center;
	padding-top: 15px;
	box-sizing: border-box;
}
main {
	padding: 20px 0;
}
.box {
	background-color: #ffe899;
	padding: 30px;
	margin: 20px 30px;
}
.buttons {
	text-align: center;
}
center {
	text-align: center;
}
